<pagination total-items="" ng-model=""
items-per-page="adsParams.pageSize" ng-change=""
max-size="9" boundary-links="true">
</pagination>

<div class="box">
    <h2></h2>

    <div id="deactivate">
       	Status:<br>
       	<input type="text"><p><p>

       	<a href="#" class="btn btn-success">Deactivate</a>
    </div>

    <p>
    <textarea id="text" rows="5" cols="25" ng-model="adData.text" required ></textarea>
    </p>

    <p>
    <div class="image-box">
        <p>Image Preview</p>
    </div>
    </p>
    <p>
    <label for="category">Category:</label>
    <input type="text">
    </p>
    <p>
    <label for="towns">Town:</label>
    <input type="towns">
    </p>
</div>